@font-face {
  font-family: "Source Sans 3";
  src: url("../fonts/SourceSans3-Var.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans 3";
  src: url("../fonts/SourceSans3-Italic-Var.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

@page {
    size: 75mm 105mm; /* 16 pages per sheet */
    margin: 1mm; 
    margin-bottom: 2mm;
    @bottom-center{
      font-size: 5pt;
      content: counter(page);
    }
}

html, body {
  margin: 0px !important;
  font-family: "Source Sans 3", sans-serif !important;
  font-size: 6pt !important;
  line-height: 1.0 !important;
  text-align: justify !important;
  text-justify: inter-word !important;
}

div.chapter {
    page-break-before: avoid !important;
    margin-top: 0mm !important;
}

h2 {
  font-size: 100% !important;
  margin-top: 1mm !important;
  margin-bottom: 1mm !important;
  font-weight: bold !important;
}

br {
  display: none;
}
p {
  display: inline;
}

#pg-header, #pg-footer {
  display:none;
}

.pagenum {
  display:none;
}

img, svg, picture, object, embed, video, audio, iframe {
  display: none !important;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}
